:root {
    background: url('../public/butterfly.png') no-repeat center center fixed; 
    background-size: contain;
    align-items: center;
    justify-items: center;
    margin: auto;
}

html { 

}